manifest {
    name = 'ASAP'
    description = 'Amplicon Sequencing Analysis Pipeline'
    organization = 'TGen North'
}

plugins {
  id 'nf-schema@2.5.1'
}

validation {
    help {
        enabled = true
    }
}

params {
    // Input/Output Options
    read_dir       = null
    json           = null
    outdir         = "ASAP_Results"
    file_name      = "ASAP_Output"
    technology     = 'illumina'

    // Alignment & Trimming Options
    aligner            = "bowtie2"
    aligner_extra_args = ""
    adapter_fasta = null
    fastp_extra_args   = ""

    // Primer Masking & Trimming Options
    primer_file    = null
    mask_primers   = false
    wiggle         = 9
    mask_bam       = true
    primer_only    = false

    // Percent Identity Filtering Options
    identity       = null
    ref_names      = null

    // SMOR Processing Options
    smor           = false

    // Shared Variant Calling Options
    proportion     = 0.1

    // bam_processor Options and JSON generation
    asap_snps            = true
    depth                = 100
    breadth              = 0.8
    mutation_depth       = 5
    min_base_qual        = 5
    consensus_proportion = 0.8
    fill_character       = "N"
    fill_gaps            = "n"
    mark_deletions       = "_"
    whole_genome         = false
    combine_output       = true
    stylesheet           = "../output_transforms/ASAP_fulldetails_web.xsl"
    out_file             = null // Will default to <name>.html in logic

    // ASAP Tools Processing
    asaptools_processing            = true
    asaptools_cov_table             = true
    asaptools_snp_table             = true
    asaptools_positions_of_interest = null
    asaptools_snp_proportion        = 0.05
    asaptools_genbank_location      = null
    asaptools_min_location_depth    = 99
    asaptools_max_sample_snp_count  = 50
    asaptools_samples_to_remove     = null
    asaptools_breadth_threshold     = null    
    
    // Options for iVar Processing
    ivar                     = false
    ivar_trim                = false
    ivar_variants            = false
    ivar_consensus           = false
    ivar_trim_extra_args      = ""
    ivar_variants_extra_args  = ""
    ivar_consensus_extra_args = ""

    // Container Settings
    fastp_container    = 'quay.io/biocontainers/fastp:0.23.4--h125f33a_5'
    bwa_container      = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
    bowtie2_container  = 'quay.io/biocontainers/mulled-v2-c742dccc9d8fabfcff2af0d8d6799dbc711366cf:1a5debacd33f449e5b3778ec7838b628406841f0-0'
}

profiles {  
    slurm {
        process.executor = 'slurm'
        //process.queue = 'compute' // optional
        process.maxRetries = 3
        process.errorStrategy = 'retry'
        process.memory = { 4.GB * 2**(task.attempt-1) } // default
        process.cpus = 2 // default
        process.time = { 1.h * 2**(task.attempt-1) } // default
    }
}

// **Move the report settings here, outside of any profile block**
dag.enabled = true
dag.file = "${params.outdir}/pipeline_info/nextflow_${params.file_name}_flowchart.png"

report.enabled = true
report.file = "${params.outdir}/pipeline_info/nextflow_${params.file_name}_report.html"

trace.enabled = true
trace.file = "${params.outdir}/pipeline_info/nextflow_${params.file_name}_trace.txt"

timeline.enabled = true
timeline.file = "${params.outdir}/pipeline_info/nextflow_${params.file_name}_timeline.html"

singularity {
    enabled = true
    autoMounts = true
}

process {
    withLabel: process_medium {
        cpus   = 4
        memory = { 8.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }
    withName: '.*FASTQC_INITIAL:FASTQC' {
        ext.prefix = { "${meta.id}_initial" }
        publishDir = [
            path: { "${params.outdir}/sample_info/${meta.id}/fastqc_initial" },
            mode: 'copy'
        ]
    }
    withName: '.*FASTQC_POST:FASTQC' {
        ext.prefix = { "${meta.id}_post" }
        publishDir = [
            path: { "${params.outdir}/sample_info/${meta.id}/fastqc_post" },
            mode: 'copy'
        ]
    }
    withName: RUN_FASTP {
        container = params.fastp_container
        cpus = 10
        // Apply dynamic resource requests
        memory = { 4.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1) }
    }
    withName: FASTPLONG {
        publishDir = [
            path: { "${params.outdir}/sample_info/${meta.id}/fastplong" },
            mode: 'copy'
        ]
        cpus = 10
        memory = { 16.GB * task.attempt }
    }
    withName: ALIGN_BWA {
        container = params.bwa_container
        cpus = 10
        // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 2**(task.attempt-1) }
    }
    withName: ALIGN_BOWTIE2 {
        container = params.bowtie2_container
        cpus = 10
        // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 2**(task.attempt-1) }
    }
    withName: MINIMAP2_INDEX {
        cpus = 4
        memory = { 8.GB * task.attempt }
    }
    withName: MINIMAP2_ALIGN {
        publishDir = [
            path: { "${params.outdir}/sample_info/${meta.id}/alignment" },
            mode: 'copy'
        ]
        maxRetries = 3
        errorStrategy = 'retry'
        cpus = 12
        memory = { 32.GB * task.attempt }
    }
    withName: PROCESS_BAM {
        cpus = 2
        // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 6**(task.attempt-1) }
    }
    withName: PROCESS_XML_R {
        beforeScript = 'source /tgen_labs/EPIC/miniconda3/etc/profile.d/conda.sh && conda activate /tgen_labs/EPIC/miniconda3/envs/r_mirror_env'
        cpus = 2
        memory = { 8.GB * task.attempt }
        time = { 1.h * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 4
    }
    withName: PROCESS_COMBINE_RDATA {
        beforeScript = 'source /tgen_labs/EPIC/miniconda3/etc/profile.d/conda.sh && conda activate /tgen_labs/EPIC/miniconda3/envs/r_mirror_env'
        cpus = {20}
        memory = { 100.GB * task.attempt }
        time = { 2.h * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withName: PROCCESS_GENERATE_COV_TABLE {
        beforeScript = 'source /tgen_labs/EPIC/miniconda3/etc/profile.d/conda.sh && conda activate /tgen_labs/EPIC/miniconda3/envs/r_mirror_env'
        cpus = {2}
        memory = { 20.GB * task.attempt }
        time = { 2.h * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withName: PROCESS_SNPS_TO_AMINOACIDS {
        beforeScript = 'source /tgen_labs/EPIC/miniconda3/etc/profile.d/conda.sh && conda activate /tgen_labs/EPIC/miniconda3/envs/r_mirror_env'
        cpus = {20}
        memory = { 30.GB * task.attempt }
        time = { 2.h * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withName: PROCESS_GENERATE_SNP_TABLE {
        beforeScript = 'source /tgen_labs/EPIC/miniconda3/etc/profile.d/conda.sh && conda activate /tgen_labs/EPIC/miniconda3/envs/r_mirror_env'
        cpus = {2}
        memory = {20.GB * task.attempt }
        time = {12.h * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withName: OUTPUT_COMBINER {
        cpus = 2
        // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1) }
    } 
    withName: IVAR_TRIM {
        publishDir = [
            path: { "${params.outdir}/sample_info/${meta.id}/ivar_trim" },
            mode: 'copy'
        ]
        ext.args = { params.ivar_trim_extra_args ?: '' }
    }
    withName: IVAR_VARIANTS {
        //container = params.ivar_container
        publishDir = [
            path: { "${params.outdir}/sample_info/${meta.id}/ivar_variants" },
            mode: 'copy'
        ]
        ext.args = { params.ivar_variants_extra_args ?: '' }
        cpus = 4
        // Apply dynamic resource requests
        memory = { 16.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 2.h * 2**(task.attempt-1)}
        }
    withName: IVAR_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/sample_info/${meta.id}/ivar_consensus" },
            mode: 'copy'
        ]
        ext.args = { params.ivar_consensus_extra_args ?: '' }
        cpus = 4
        // Apply dynamic resource requests
        memory = { 16.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1)}
    } 
    withName: MULTIQC {
        //container = params.multiqc_container
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy'
        ]
        cpus = 1
        memory = '4 GB'
        cpus = 4
        // Apply dynamic resource requests
        memory = { 16.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1)}
    }
}