manifest {
    name = 'ASAP'
    description = 'Amplicon Sequencing Analysis Pipeline'
    organization = 'TGen North'
}

profiles {
  with_metrics {
    process.executor = 'slurm'
    process.memory = '4GB'        // default
    process.cpus = 2              // default
    process.time = '1h'           // default  

    // Enable Nextflow built-in reports
    dag {
      enabled = true
      file = "${params.outdir}/nextflow_${params.name}_flowchart.png"
    }

    report {
      enabled = true
      file = "${params.outdir}/nextflow_${params.name}_report.html"
    }

    trace {
      enabled = true
      file = "${params.outdir}/nextflow_${params.name}_trace.txt"
    }

    // Optional: monitor resource usage at task level
    timeline {
      enabled = true
      file = "${params.outdir}/nextflow_${params.name}_timeline.html"
    }
  }
  slurm {
    process.executor = 'slurm'
    //process.queue = 'compute'   // optional
    process.memory = '4GB'        // default
    process.cpus = 2              // default
    process.time = '1h'           // default  
  }
}
  
params {
    read_dir          = null        // required
    json              = null        // required
    outdir            = "results"
    
    // Adapter trimming params
    adapter_fasta     = null        // defaults to ../asap/illumina_adapters_all.fasta
    
    // Read mapping params
    aligner           = "bowtie2"   // or "bwa"
    remove_dups       = false
    subsample         = false

    // Primer masking params
    primer_file       = null        // run mask_primers if specified
    wiggle            = 9
    mask_bam          = true
    primer_only       = false

    // Identity filtering params
    identity          = null
    ref_names         = null

    // SMOR params
    smor              = false
    fill_character    = "N"

    // Bam processor params
    min_base_qual        = 5
    depth                = 100
    breadth              = 0.8
    proportion           = 0.1
    mutation_depth       = 5
    consensus_proportion = 0.8
    fill_gaps            = false
    mark_deletions       = false

    // Output combiner params
    combine_output    = true
    run_name          = "ASAP_Output"      // run_name should be something more meaningful, please override

    // Output transform params
    stylesheet        = null        // defaults to ../output_transforms/ASAP_fulldetails_web.xsl
    out_file          = null        // defaults to '<name>.html'

    // Param-based containers
    fastp_container   = 'quay.io/biocontainers/fastp'
    bwa_container     = 'biocontainers/bwa'
    bowtie2_container = 'biocontainers/bowtie2'
}

process {
    withName: RUN_FASTP {
        container = params.fastp_container
        cpus = 10
         // Apply dynamic resource requests
        memory = { 4.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1) }
    }
    withName: ALIGN_BWA {
        container = params.bwa_container
        cpus = 10
         // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 2**(task.attempt-1) }
    }
    withName: ALIGN_BOWTIE2 {
        container = params.bowtie2_container
        cpus = 10
         // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 2**(task.attempt-1) }
    }
    withName: PROCESS_BAM {
        cpus = 2
         // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 2**(task.attempt-1) }
    }
    withName: OUTPUT_COMBINER {
        cpus = 2
         // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1) }
    }
}


