manifest {
    name = 'ASAP'
    description = 'Amplicon Sequencing Analysis Pipeline'
    organization = 'TGen North'
}

plugins {
  id 'nf-schema@2.5.1'
}

validation {
    help {
        enabled = true
    }
}

params {
  
    read_dir = null // required
    json = null // required
    outdir = "ASAP_Results" // required
    name = "ASAP_Output" // required:: name should be something more meaningful, please override

    // Adapter trimming params
    adapter_fasta = null // defaults to ../asap/illumina_adapters_all.fasta
    fastp_extra_args = "" // Empty list to allow string of additional arguments. 

    // Read mapping params
    aligner = "bowtie2" // or "bwa"
    aligner_extra_args = "" // Empty list to allow string of additional arguments. 

    // Primer masking params
    primer_file = null // run mask_primers if specified
    wiggle = 9
    mask_bam = true
    primer_only = false

    // Identity filtering params
    identity = null
    ref_names = null

    // SMOR params
    smor = false
    fill_character = "N"

    // Bam processor params
    min_base_qual = 5
    depth = 100
    breadth = 0.8
    proportion = 0.1
    mutation_depth = 5
    consensus_proportion = 0.8
    fill_gaps = "n" //TP changed from false
    mark_deletions = "_" //TP changed from false

    // Output combiner params
    combine_output = true
    
    // Output transform params
    stylesheet = null // defaults to ../output_transforms/ASAP_fulldetails_web.xsl
    out_file = null // defaults to '<name>.html'

    // Param-based containers
    //fastqc_container  = 'biocontainers/fastqc'
    //fastp_container = 'quay.io/biocontainers/fastp'
    //bwa_container = 'biocontainers/bwa'
    //bowtie2_container = 'biocontainers/bowtie2'
    fastp_container    = 'quay.io/biocontainers/fastp:0.23.4--h125f33a_5'
    //fastqc_container   = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    bwa_container      = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0' //bwa=0.7.15,samtools=1.3.1
    bowtie2_container  = 'quay.io/biocontainers/mulled-v2-c742dccc9d8fabfcff2af0d8d6799dbc711366cf:1a5debacd33f449e5b3778ec7838b628406841f0-0' //bowtie2=2.3.2,samtools=1.3.1
    //ivar_container     = 'quay.io/biocontainers/mulled-v2-98ddb1f3cf1349cc3c286418d2895004e1791819:4d12c911e7a2f5a0530055389a40c428b6b7dbc6-0' //samtools=1.9,ivar=1.2.1
}

profiles {  
    slurm {
        process.executor = 'slurm'
        //process.queue = 'compute' // optional
        process.maxRetries = 3
        process.errorStrategy = 'retry'
        process.memory = { 4.GB * 2**(task.attempt-1) } // default
        process.cpus = 2 // default
        process.time = { 1.h * 2**(task.attempt-1) } // default
    }
}

// **Move the report settings here, outside of any profile block**
dag.enabled = true
dag.file = "${params.outdir}/nextflow_${params.name}_flowchart.png"

report.enabled = true
report.file = "${params.outdir}/nextflow_${params.name}_report.html"

trace.enabled = true
trace.file = "${params.outdir}/nextflow_${params.name}_trace.txt"

timeline.enabled = true
timeline.file = "${params.outdir}/nextflow_${params.name}_timeline.html"

singularity {
    enabled = true
    autoMounts = true
}

process {
    withLabel: process_medium {
        cpus   = 4
        memory = { 8.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }
    withName: '.*FASTQC_INITIAL:FASTQC' {
        ext.prefix = { "${meta.id}_initial" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/fastqc_initial" },
            mode: 'copy'
        ]
    }
    withName: '.*FASTQC_POST:FASTQC' {
        ext.prefix = { "${meta.id}_post" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/fastqc_post" },
            mode: 'copy'
        ]
    }
    withName: RUN_FASTP {
        container = params.fastp_container
        cpus = 10
        // Apply dynamic resource requests
        memory = { 4.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1) }
    }
    withName: ALIGN_BWA {
        container = params.bwa_container
        cpus = 10
        // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 2**(task.attempt-1) }
    }
    withName: ALIGN_BOWTIE2 {
        container = params.bowtie2_container
        cpus = 10
        // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 2**(task.attempt-1) }
    }
    withName: PROCESS_BAM {
        cpus = 2
        // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 4.h * 2**(task.attempt-1) }
    }
    withName: OUTPUT_COMBINER {
        cpus = 2
        // Apply dynamic resource requests
        memory = { 10.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1) }
    }
    withName: IVAR_VARIANTS {
        //container = params.ivar_container
        publishDir = [
            path: { "${params.outdir}/${meta.id}/ivar_variants" },
            mode: 'copy'
        ]
        cpus = 4
        // Apply dynamic resource requests
        memory = { 16.GB * 2**(task.attempt-1) }
        maxRetries = 3
        errorStrategy = 'retry'
        time = { 1.h * 2**(task.attempt-1)}
        }
    withName: MULTIQC {
        //container = params.multiqc_container
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy'
        ]
        cpus = 1
        memory = '4 GB'
    }
}